body{
    font-family: 'Open Sans', sans-serif;
}
.header{
    background-color: #FFF8F3;;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0 200px;
}
.nav-title{
    color: #181818;
    font-weight: 800;
    font-size:45px;
}
.text-area{
    color:#fd6E0A
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    color: #474744;
}
.btn-primary{
    border-radius: 5px;
background: #FD6E0A;
border: 0;
color:white;
font-size: 20px;
font-weight: 700;
padding:18px 35px;
}
.banner{
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center;
}
.banner .profile-picture{
    width: 500px;
}
